altair==4.2.2
apparmor==3.1.3
appdirs==1.4.4
argcomplete==2.0.0
attrs==22.2.0
Authlib==1.2.0
autopep8==2.0.2
Babel==2.10.3
Beaker==1.10.0
beautifulsoup4==4.12.0
blinker==1.6
bodhi-client==7.1.1
Brlapi==0.8.4
cachetools==5.2.0
CCColUtils==1.5
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
click==8.1.3
configobj==5.0.6
construct==2.10.68
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
dbus-python==1.3.2
decorator==5.1.1
distro==1.7.0
dnspython==2.2.1
entrypoints==0.4
evdev==1.6.0
fedora-third-party==0.10
fedpkg==1.44
file-magic==0.4.0
filelock==3.7.1
fros==1.1
gitdb==4.0.9
GitPython==3.1.30
gpg==1.17.0
gssapi==1.7.3
humanize==3.13.1
idna==3.3
importlib-metadata==6.1.0
Jinja2==3.0.3
jsonschema==4.17.3
kerberos==1.3.0
kitchen==1.2.6
koji==1.32.0
langtable==0.0.61
LibAppArmor==3.1.3
libcomps==0.1.18
lockfile==0.12.2
lutris==0.5.13
lxml==4.9.1
Mako==1.1.4
markdown-it-py==2.2.0
MarkupSafe==2.1.1
mdurl==0.1.2
munch==2.5.0
nftables==0.1
notify2==0.3.1
numpy==1.24.2
olefile==0.46
openidc-client==0.7.0
packaging==21.3
pandas==1.5.3
Paste==3.5.0
pexpect==4.8.0
Pillow==9.2.0
ply==3.11
progressbar2==3.53.2
protobuf==3.19.6
ptyprocess==0.6.0
pyarrow==11.0.0
pybeam==0.7
pycairo==1.21.0
pycodestyle==2.10.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.17.0
pycups==2.0.1
pycurl==7.45.1
pydeck==0.8.0
pyenchant==3.2.2
pygit2==1.7.1
Pygments==2.14.0
PyGObject==3.42.2
Pympler==1.0.1
pyOpenSSL==21.0.0
pyparsing==3.0.9
pypresence==4.2.1
pyroute2==0.6.12
pyroute2.core==0.6.12
pyroute2.ethtool==0.6.12
pyroute2.ipdb==0.6.12
pyroute2.ipset==0.6.12
pyroute2.ndb==0.6.12
pyroute2.nftables==0.6.12
pyroute2.nslink==0.6.12
pyrsistent==0.19.3
PySimpleGUI==4.60.4
PySocks==1.7.1
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.2
python-fedora==1.1.1
python-utils==3.1.0
python-yubico==1.3.3
pytz==2023.2
pytz-deprecation-shim==0.1.0.post0
pyusb==1.2.1
pyxdg==0.27
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
rich==13.3.3
rpkg==1.66
rpm==4.18.0
rpmautospec==0.3.5
rpmlint==2.4.0
scour==0.38.2
selinux==3.5
semver==3.0.0
sepolicy==3.5
setools==4.4.0
setproctitle==1.2.3
simpleaudio==1.0.4
six==1.16.0
smmap==5.0.0
sos==4.4
soupsieve==2.3.2.post1
steam==1.4.3
streamlit==1.20.0
systemd-python==235
Tempita==0.5.2
templated-dictionary==1.1
tldextract==3.4.0
toml==0.10.2
tomli_w==1.0.0
toolz==0.12.0
tornado==6.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.12
validators==0.20.0
VapourSynth==60
vdf==3.4
watchdog==3.0.0
zipp==3.15.0
zstandard==0.19.0
